<strong>Olá, {{ nome }} </strong>
<p>Houve uma solicitação de mudança de senha.</p>
<p>Para alterar sua senha acesse o link a baixo</p>
<br />
<a href="http://67.205.185.220:3000/resetpassword/{{ token }}">Link para alteração de senha</a>
<br />
<p>Caso não tenha solicitado esta alteração desconsidere este e-mail</p>
